@CHARSET "UTF-8";
body {width:100%; height:100%; -webkit-text-size-adjust:100%;}
html{overflow:auto; height:100%}
body,div,dl,dt,dd,ul,ol,li,form,fieldset,p,button{margin:0;padding:0}
ol,ul{list-style:none;}
body,input,button{font-family:맑은 고딕, Dotum, Helvetica, AppleSDGothicNeo, sans-serif; font-size:12px; color:#383d41 }
img,fieldset,iframe{border:0 none}
input,select,button{vertical-align:middle}
button { cursor:pointer }
button{margin:0;padding:0}
a{color:#222;text-decoration:none}
a:hover{color:#5d9cf9;text-decoration:underline}
a:link, a:visited {text-decoration: none; color: #656565;}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}
h1, h2, h3, h4, h5, h6 { margin-top:0 }
h2 { margin-bottom:33px; border-left: 5px solid #28a3ff; padding-left: 10px; }
input[type='date'], .calIcon { background:url("../images/calBg.gif") no-repeat 95% center; cursor:pointer;width:115px;}
button[type='button'].button, button[type='button'].btn { font-weight:bold; user-select:none; -webkit-user-select:none; outline:none; vertical-align:middle; cursor:pointer; border-radius:5px; color:white; background-color:#2a83cc; padding:0 20px; box-sizing: border-box; -webkit-box-sizing: border-box; font-size: 11px; border:1px solid #1d77c1; height:28px }
button[type='button'].button:hover, button[type='button'].btn:hover { background-color:#1465a8 }
button[type='button'].button:active, button[type='button'].btn:active { padding:8px 19px 6px 21px; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3) inset }
button[type='button'].button.cancel { background-color:#2d9edf; border-color:#2092d3 }
button[type='button'].button.cancel:hover { background-color:#1b8aca; border-color:#0a76b4 }
button[type='button'].button.red, button[type='button'].button.delete { background-color:#ff5454; border-color:#eb3c3c }
button[type='button'].button.red:hover, button[type='button'].button.delete:hover { background-color:#e53030; border-color:#c01616 }
button[type='button'].button.excel { border-color:#34a44f; background:url("../images/excelIcon.png") no-repeat #4da462 7px center; padding:0 10px 0 30px }
button[type='button'].button.excel:hover { background-color:#3d9753; border-color:#2b8441 }
button[type='button'].button.excel:active { background-color:#3d9753; border-color:#2b8441; padding:8px 9px 6px 31px; background-position:8px 6px }
button[type='button'].button.small { padding: 4px 12px; min-width: 57px; border-radius:4px }
button[type='button'].button.small:active { padding: 5px 11px 3px 13px }
button[type='button'].button.search, button[type='button'].button.yellow { background-color:#f2ae43; border-color:#e2951c }
button[type='button'].button.search:hover, button[type='button'].button.yellow:hover { background-color:#e3902d }
button[type='button'].button.dark { background-color:#2C618C; border-color:#214665 }
button[type='button'][disabled] { opacity:.5; cursor:no-drop }



#dim { width:100%; height:100%; background-color:black; opacity:.5; position:fixed; top:0; left:0; display:none }
#progress { position: fixed; top: 50%; left: 50%; width: 60%; height: 30px; margin: -15px 0 0 -30%; box-shadow: -2px -2px 15px rgba(0, 0, 0, .5), 0px 0px 15px rgba(0, 0, 0, 0.4) inset; border-radius: 15px; background-color: rgba(0, 0, 0, 0.5); overflow: hidden; border-bottom: 1px solid rgba(255, 255, 255, .5); border-top: 1px solid rgba(0, 0, 0, 0.3); }
#progress:after { display: block; content: ""; position: absolute; top: 3px; left: 0; margin: 0 2%; width: 96%; height: 9px; background-image: linear-gradient(rgba(255, 255, 255, .3), transparent); border-radius: 10px; }
#pBar { background-color: #00C1C1; width: 100%; height: 100%; border-radius: 15px; opacity: 0.7; box-shadow: 0px 0px 30px rgba(0, 00, 100, 0.7) inset; background-image: linear-gradient(135deg, transparent 0, transparent 25px, rgba(255, 255, 255, .3) 25px, rgba(255, 255, 255, .3) 50px, transparent 50px, transparent 80px); animation: animate-stripes .7s linear 0s infinite; background-size: 70px 30px; }
@keyframes animate-stripes { 0% {background-position: 0 0;} 100% {background-position: 70px 0;} }

/* basic Layout */
.layout-fix {width:1280px; margin:0 auto;}

/* common style */
.mTop5 { margin-top:5px } 
.mTop10 { margin-top:10px } 
.mTop15 { margin-top:15px } 
.mTop20 { margin-top:20px } 
.mTop25 { margin-top:25px } 

.mBottom5 { margin-bottom:5px } 
.mBottom10 { margin-bottom:10px } 
.mBottom15 { margin-bottom:15px } 
.mBottom20 { margin-bottom:20px } 
.mBottom25 { margin-bottom:25px } 

.mLeft5 { margin-left:5px } 
.mLeft10 { margin-left:10px } 
.mLeft15 { margin-left:15px } 
.mLeft20 { margin-left:20px } 
.mLeft25 { margin-left:25px } 

.mRight5 { margin-right:5px } 
.mRight10 { margin-right:10px } 
.mRight15 { margin-right:15px } 
.mRight20 { margin-right:20px } 
.mRight25 { margin-right:25px } 

.center { text-align:center }
.right { text-align:right }
.left { text-align:left }
.justify { text-align:justify }
.fullWidth { width:100% }
.floatRight { float:right }
.floatLeft { float:left }
.pointer { cursor:pointer }
.hidden { display:none }
.absolute { position:absolute }
.fixed { position:fixed }
.relative { position:relative }
.mouseover{cursor:pointer;}

.flex { display:flex }
.flexNowrap { flex-wrap:nowrap }
.flexAlignCenter { align-items:center }
.flexJustifyCenter { justify-content:center }

span.textcolor-blue {color:blue;}
span.textcolor-red {color:red;}
span.textcolor-yellow {color:#f2ae43;}
span.bold {font-weight:bold;}

.wdp_90 {width:90%}
.btn {border-radius:3px;padding:5px 11px;color:#fff !important; display:inline-block; background-color:#6b9ab8; border:1px solid #56819d;vertical-align:middle}

/* paging */
.paging { text-align:center; margin-top:20px }
.paging > * { vertical-align:middle }
.paging a, .paging span	{ margin:0 3px; padding:8px; color:#808080; font-weight:bold; border:1px solid transparent; }
.paging a:hover			{ background-color:#3ca0f1; border-color:#97ccf8; color:white; text-decoration:none }
.paging .firstPage,		
.paging .lastPage,
.paging .prevPage,
.paging .nextPage { color:#808080; display:inline-block; width:12px; height:12px; line-height:12px; font-size:0.8em; margin:0; padding:8px 7px }
.paging .currentPage	{ cursor:default; color:red }
 

/* page별 CSS */ 
.board_list {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.board_list thead th:first-child{background-image:none}
.board_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle}
.board_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.board_list tbody tr:first-child td {border:none}
.board_list tbody td.title {text-align:left; padding-left:20px}
.board_list tbody td a {display:inline-block}
 
.board_view {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.board_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}
.board_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}

/* blobupload -> list */
#tb_fileList thead th {text-align:center;}